{% extends "layouts/base.html" %}

{% block title %} Notification Alerts {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <main class="c-main">
    <div class="container-fluid">
      <div class="fade-in">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header"> Alerts</div>
              <div class="card-body">
                <div class="alert alert-primary" role="alert">This is a primary alert—check it out!</div>
                <div class="alert alert-secondary" role="alert">This is a secondary alert—check it out!</div>
                <div class="alert alert-success" role="alert">This is a success alert—check it out!</div>
                <div class="alert alert-danger" role="alert">This is a danger alert—check it out!</div>
                <div class="alert alert-warning" role="alert">This is a warning alert—check it out!</div>
                <div class="alert alert-info" role="alert">This is a info alert—check it out!</div>
                <div class="alert alert-light" role="alert">This is a light alert—check it out!</div>
                <div class="alert alert-dark" role="alert">This is a dark alert—check it out!</div>
              </div>
            </div>
          </div>
        <!-- /.row-->
      </div>
    </div>
  </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
